{% extends 'layout.html' %}
{% load humanize %}

{% block title %}Product Detail{% endblock title %}

{% block head %}
<style>
</style>
{% endblock head %}


{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>{{ request.site.domain }}</h1>
      <div class="list-group">
        {% for product in product_list %}
        <a href="" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ product.name }}</h5>
            <small>{{ product.created_date|naturaltime }}</small>
          </div>
          <p>{{ product.description }}</p>
        </a>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endblock body %}


{% block footer %}
<script>
</script>
{% endblock footer %}